<h1>Home</h1>
<p>
<a href="http://railstutorial.org/">Ruby on Rails Tutorials</a>
Find me in app/views/pages/home.html.erb
</p>

<%= link_to 'Sign up now!', signup_path, :class => 'signup_button round' %>
